@import 'compass/reset',
        'compass/css3';

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
$orange: #ff7e00;
$hotpink: #ff003c;

html,body{
  font-family: 'PT Sans', sans-serif;
}

*{
  -webkit-font-smoothing:antialiased;
}
body{
  background-image: linear-gradient(to left, $hotpink 0%, $orange 100%);
  background-attachment:fixed;
  background-repeat: no-repeat;
  font-size:30px;
}
.content-wrapper{
  width:99vw;
  height:100vh;
  @include display-flex;
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-direction(column);
  margin:0 auto;

  header{
    @include flex-grow(0);
    margin:20px 0 30px;

    a{
      display:block;

      img{
        max-width: 360px;
        max-height: 200.53px;
        height: 16vw;
      }
    }
  }
  .card-wrapper{
    background-color:white;
    @include display-flex;
    @include flex-shrink(1);
    @include flex-grow(1);
    @include justify-content(space-between);
    width:75vw;
    height:calc(65vh - 50px);
    max-height:calc(65vh - 50px);
    border-radius:10px;
    box-shadow: 0 3px 0px 1px #ababab;
    overflow:hidden;

    .left,.right{
      @include flex-shrink(1);
      @include flex-grow(1);
      width:50%;
      padding:20px;
    }

    .sign-in{
      @include display-flex;
      @include flex-shrink(1);
      @include flex-grow(1);
      @include justify-content(center);
      @include flex-direction(column);
      @include align-items(center);
      height:auto;

      h2{
        text-transform:uppercase;
        font-weight:400;
        margin:2% 0;
        font-size:1em;
        color:darken(#ccc,20%);
        @include transition(color 0.15s ease-in-out);


        &.error{
          color:$hotpink;
          @include transition(color 0.15s ease-in-out);
        }
      }

      form{
        @include display-flex;
        @include flex-shrink(0);
        @include flex-grow(0);
        width:40%;
        @include flex-direction(column);

        input[type="text"]{
          border:none;
          border-bottom:1px solid darken(#ccc,20%);
          padding:0.1em;
          margin:5% 0 10%;
          font-size:1em;
          @include transition(border-bottom 0.15s ease-in-out);

          &:focus{
            outline-style:none;
            outline:none;
          }

          &.error{
            border-bottom:1px solid $hotpink;
            @include transition(border-bottom 0.15s ease-in-out);
          }
        }
        input[type="submit"]{
          font-size:0.8em;
          text-transform:uppercase;
          padding:0.4em 0.2em;
          border:2px solid $orange;
          border-radius:0.25em;
          line-height:1;
          background-color:white;
          color:$orange;
          cursor:pointer;
          @include transition(color 0.15s ease-in-out,background-color 0.15s ease-in-out);

          &:hover{
            background-color:$orange;
            color:white;
            @include transition(color 0.15s ease-in-out,background-color 0.15s ease-in-out);
          }
          &:focus{
            outline-style:none;
            outline:none;
          }

          &.error{
            border:2px solid $hotpink;
            color:$hotpink;

            &:hover{
              background-color:$hotpink;
              color:white;
              @include transition(color 0.15s ease-in-out,background-color 0.15s ease-in-out);
            }
          }
        }
      }
    }

    .logged-in{
      @include display-flex;
      @include justify-content(center);
      @include flex-direction(column);
      @include align-items(center);
      border-right:1px solid $orange;

      h2{
        text-transform:uppercase;
        font-weight:400;
        margin:2% 0;
        font-size:1em;
        color:darken(#ccc,20%);
      }
      p{
        font-size:0.45em;
        font-weight:500;
        text-transform:uppercase;
        color:darken(#ccc,70%);
        letter-spacing:0.025em;
      }
    }

    .active-users{
      width:50%;
      border-left:1px solid $orange;
      padding:0;

      strong{
        display:block;
        text-transform:uppercase;
        text-align:center;
        background-color:$orange;
        color:white;
        padding:0.4em;
      }

      ul{
        // padding: 20px 20px 20px;
        li{

          text-transform: uppercase;
          font-weight: 400;
          padding:0.25em;
          font-size: 0.65em;
          cursor:pointer;
          -webkit-user-select:none;
          user-select:none;
          color: darken(#ccc, 60%);
          // padding:5px 5px;
          border-bottom: 2px solid transparent;

          &:nth-of-type(odd){
            background-color:lighten($orange,41%);

            &:hover{
              background-color:lighten($orange,32%);
            }
          }
          &:nth-of-type(even){
            background-color:lighten($orange,36%);

            &:hover{
              background-color:lighten($orange,30%);
            }
          }

          .wrapper{
            display:table;
            span{
              display:table-cell;
              vertical-align:middle;
              font-size:0.65em;
              color: darken(#ccc, 40%);

              &:before { content: "\00a0\00a0 "; }
            }
          }
        }
      }
    }
  }



  .question-wrapper{
    background-color:white;
    @include display-flex;
    @include flex-shrink(1);
    @include flex-grow(1);
    @include justify-content(space-between);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    width:100%;
    overflow:hidden;

    .row{
      width:100%;
    }

    .question{
      @include flex(4);
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      width:94%;
      padding:8% 3% 0;

      p{
        color:lighten(black,26%);
        font-size:1.4em;
        letter-spacing:0.6px;
        word-spacing:1.4px;
        line-height:1.2;
        text-transform:uppercase;
        font-weight:700;
        width: 76%;
        text-align: center;
      }
    }
    .vote{
      @include display-flex;
      @include justify-content(space-between);
      @include flex(1);
      padding: 0 3% 3%;
      width:94%;


      .drink{
        cursor:pointer;
        padding-top: 11%;
        width: 11%;
        height:0;
        position:relative;

        .image{
          position:absolute;
          top:0; bottom:0;
          left:0; right:0;
          background-image:url(./../assets/voting.png);
          background-repeat: no-repeat;
          background-size:cover;
          height:100%; width:100%;
          @include rotate(180deg);
          opacity:0.25;

          &:hover{
            opacity:1;
            background-position:50% 0;
          }
        }
      }

      .truth{
        cursor:pointer;
        padding-top: 11%;
        width: 11%;
        height:0;
        position:relative;

        .image{
          position:absolute;
          top:0; bottom:0;
          left:0; right:0;
          background-image:url(./../assets/voting.png);
          background-repeat: no-repeat;
          background-size:cover;
          height:100%; width:100%;
          opacity:0.25;
          &:hover{
            opacity:1;
            background-position:100% 0;
          }
        }
      }
    }
  }
}
